html { background-color:#ffffff; overflow: hidden; }
body { margin:0; background-color: transparent; }
canvas { display: block; width: 100%; height: auto; }
div.content { max-width: 640px; margin: 0 auto; }